* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color:  hsl(30, 38%, 92%);
    font-family: "Monterrat", sans-serif;
}

.card {
    background-color: white;
    display: flex;
    gap: 25px;
    margin: 140px auto;
    max-width: 550px;
    border-radius: 10px;
}

.card .imagine-container img {
    min-width: 250px;
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.card .main-container {
    margin-top: 25px;
    padding-right: 20px;
    color: hsl(228, 12%, 48%);
}

.card .main-container h5 {
    font-weight: 500;
}

.card .main-container h1 {
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    margin-right: 20px;
    line-height: 1;
    padding: 10px 0 20px;
    color:  hsl(212, 21%, 14%);
}

.card .main-container h2 {
    font-family: "Fraunces", sans-serif;
    padding: 20px 0 20px;
    display: flex;
    align-items: center;
    color:  hsl(158, 36%, 37%);
}

.card .main-container h2 span {
    font-size: 14px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-left: 20px;
    font-weight: 500;
}

.card .main-container button {
    background-color: hsl(158, 36%, 37%);
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
} 

.card .main-container button img {
    margin-right: 10px;
}


.card .main-container button:hover {
    background-color: hsl(158, 42%, 18%);
}

@media (max-width: 375px) {
    html {
        padding: 0 15px;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        min-width: 25px;
    }
    .card .imagine-container img {
        height: 220px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
    .card .main-container {
        margin-top: -10px;
        padding: 0 20px 20px;
    }
    .card .main-container h5 {
        font-size: 12px;
    }
    .card .main-container h1 {
        margin-right: 0;
        font-size: 26px;
    }
    .card .main-container p {
        font-size: 14px;
    }
    .card .main-container h2 span {
        font-size: 12px;
    }
}